@font-face {
  font-family: 'AvenirNext-UltraLight';
  src: url('AvenirNext-UltraLight.eot');
  src: url('AvenirNext-UltraLight.woff2') format('woff2'),
       url('AvenirNext-UltraLight.woff') format('woff'),
       url('AvenirNext-UltraLight.ttf') format('truetype'),
       url('AvenirNext-UltraLight.svg#AvenirNext-UltraLight') format('svg'),
       url('AvenirNext-UltraLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

